<div class="copyright">&copy;Anthuan Morera 2023 | WDD 330 | BYU I</div>

<div class="google-maps">
  <a href="https://www.google.com/maps" target="_blank">
    <img id="google-maps" src="../public/images/google.png" alt="google-link"
  /></a>
</div>

<div class="social-media">
  <ul>
    <li>
      <a href="https://www.facebook.com/" target="_blank"
        ><img src="../public/images/facebook.png" alt="facebook icon"
      /></a>
    </li>
    <li>
      <a href="https://www.instagram.com/" target="_blank"
        ><img src="../public/images/instagram.png" alt="instagram icon"
      /></a>
    </li>
    <li>
      <a href="https://www.whatsapp.com/" target="_blank"
        ><img src="../public/images/whatsapp.png" alt="whatsapp icon"
      /></a>
    </li>
  </ul>
</div>
